<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: head">
<body>
	<div class="page-wrapper chiller-theme toggled">

		<!-- AQUI SE AGREGA EL NAV LATERAL  -->
		<div th:if="${usuario.getRol=='PROFESOR'}">
			<div th:replace="fragments/profesor_nav :: profesor_nav"></div>
		</div>
		<div th:if="${usuario.getRol=='ADMINISTRADOR'}">
			<div th:replace="fragments/administrador_nav :: administrador_nav"></div>
		</div>

		<!-- AQUI SE AGREGA EL NAV LATERAL  -->
		<main class="page-content">
			<header th:replace="fragments/header :: header"></header>
			<div class="container" id="sms" th:if="${sms != null}">
				<div class="alert alert-success alert-dismissible fade show mt-2"
					role="alert" th:if="${sms != null}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span th:text="${sms}"></span>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="form-group col-md-12">
						<div>
							<h3 class="text-center">Lista de usuarios</h3>
							<hr class="bg-info">
						</div>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Cédula</th>
										<th scope="col">Nombres</th>
										<th scope="col">Apellidos</th>
										<th scope="col">Rol</th>
										<th scope="col" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${listUsuarios}">
										<td th:text="${userStat.index}+1"></td>
										<td th:text="${user.cedula}">Cédula</td>
										<td th:text="${user.nombres}">Nombres</td>
										<td th:text="${user.apellidos}">Apellidos</td>
										<td th:text="${user.rol}">Rol</td>
										<td sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
											class="align-self-left">
											<!-- Botón modal de modificación de usuario -->
											<button class="btn btn-success openBtn" title="Editar"
												data-toggle="modal" data-target="#myModal"
												th:attrappend="data-target=${user.idusuario}">
												<i class="fa fa-pen"></i>
											</button> <!-- Modal de modificación de usuario -->
											<div class="modal fade" id="myModal" role="dialog"
												th:attrappend="id=${user.idusuario}">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">&times;</button>
														</div>
														<div class="modal-body">
															<div>
																<h3 class="text-center">Editar usuario</h3>
																<hr class="bg-info">
															</div>
															<form class="form-horizontal" action="#"
																th:action="@{guardar_usuarios}" th:object="${usObj}"
																method="post">
																<div class="row align-self-center"
																	style="margin-bottom: 2%">
																	<div class="col-sm-6" style="margin: auto">
																		<input id="idusuario" name="idusuario" type="hidden"
																			class="form-control" th:value="${user.idusuario}">
																		<div class="form-group">
																			<label>Cédula </label> <input id="cedula"
																				name="cedula" readonly="readonly"
																				class="form-control" th:value="${user.cedula}">
																		</div>
																		<div class="form-group">
																			<label>Apellidos <small
																				class="text-secondary">(requerido)</small></label> <input
																				name="apellidos" id="apellidos" required type="text"
																				class="form-control" placeholder="Torres..."
																				th:value="${user.apellidos}">
																		</div>
																		<div class="form-group">
																			<label>Contraseña <small
																				class="text-secondary">(requerido)</small></label> <input
																				name="contrasenia" id="pass" type="password"
																				style="text-transform: lowercase;"
																				class="form-control" placeholder="********">
																		</div>
																		<div class="form-group">
																			<label>Correo <small class="text-secondary">(requerido)</small></label>
																			<input name="correo" required type="email"
																				style="text-transform: lowercase;"
																				class="form-control" placeholder="usuario@..."
																				th:value="${user.correo}">
																		</div>
																	</div>
																	<div class="col-sm-6" style="margin: auto">
																		<div class="form-group">
																			<label>Nombres <small class="text-secondary">(requerido)</small></label>
																			<input name="nombres" required type="text"
																				class="form-control" placeholder="Carlos..."
																				th:value="${user.nombres}">
																		</div>
																		<div class="form-group">
																			<label>Usuario </label> <input name="usuario"
																				readonly="readonly" type="text" class="form-control"
																				th:value="${user.usuario}">
																		</div>
																		<div class="form-group">
																			<label>Teléfono <small class="text-secondary">(requerido)</small></label>
																			<input name="telefono" required type="text"
																				style="text-transform: lowercase;"
																				class="form-control" placeholder="0979..."
																				th:value="${user.telefono}">
																		</div>
																		<div class="form-group">
																			<label>Institución <small
																				class="text-secondary">(requerido)</small></label> <input
																				name="institucion" type="hidden"
																				class="form-control" placeholder="Escuela..."
																				th:value="${user.institucion.idinstitucion}">
																			<input readonly="readonly" type="text"
																				class="form-control" placeholder="Escuela..."
																				th:value="${user.institucion.nombre}">
																		</div>
																	</div>
																	<div class="col-lg-4 align-self-center"
																		style="margin: auto">
																		<!-- REVISAR ONCLICK, NO SE PASA CORRECTAMENTE LA CONTRASEÑA INICIAL -->
																		<button class="btn btn-info col-sm-12" type="submit"
																			th:onclick="'inputChange()'">
																			<i class="fa fa-check"></i> Guardar
																		</button>
																	</div>
																</div>
																<script type="text/javascript">
																function inputChange() {
																	valor = document.getElementById("pass").value;
																	if (valor == "") {
																		$("#pass").val('123');
																	}
																}
																</script>
															</form>
														</div>
													</div>
												</div>
											</div> <!-- Modal eliminar usuario -->
											<button class="btn btn-danger" title="Eliminar" type="submit"
												data-target="#myModalDelete" data-toggle="modal"
												th:attrappend="data-target=${user.idusuario}"
												th:if="${user.rol!='ADMINISTRADOR'}">
												<i class="fa fa-times"></i>
											</button> <!-- Modal eliminar usuario -->
											<div class="modal fade" id="myModalDelete" role="dialog"
												th:attrappend="id=${user.idusuario}">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">&times;</button>
														</div>
														<div class="modal-body">
															<div>
																<h5 class="text-center"
																	th:utext="'¿Esta seguro de eliminar a &lt;strong&gt;' + ${user.nombres}+'?'"></h5>
																<hr class="bg-info">
															</div>

															<div class="row align-self-center"
																style="margin-bottom: 2%">
																<div class="col-lg-6 align-self-center"
																	style="margin: auto">
																	<button class="btn btn-success col-sm-12"
																		data-dismiss="modal">
																		<i class="fa fa-times"></i> No
																	</button>
																</div>

																<div class="col-lg-6 align-self-center"
																	style="margin: auto">
																	<form class="form-horizontal" action="#"
																		th:action="@{'eliminar_usuario/'+ ${user.idusuario}}"
																		method="post">
																		<button class="btn btn-danger col-sm-12" type="submit">
																			<i class="fa fa-check"></i> Sí
																		</button>
																	</form>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="fragments/footer :: footer"> </footer>
		</main>
	</div>

</body>
</html>