<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head :: head">
</head>

<body>

	<div class="page-wrapper chiller-theme toggled">
		
		<!-- AQUI SE AGREGA EL NAV LATERAL  -->
		<div th:replace="fragments/profesor_nav :: profesor_nav"></div>
		<!-- AQUI SE AGREGA EL NAV LATERAL  -->
		
		
		<!-- AQUI EMPIEZA EL CONTENIDO DE LA PAGINA  -->
		 <main class="page-content">
            <header th:replace="fragments/header :: header"></header>
            <div class="container-fluid">

                <h2>AQUI VA EL CONTENIDO</h2>
                <hr>
                <div class="row">
                    <div class="form-group col-md-12">
                        <p>AQUI VA EL CONTENIDO DE EDICIÓN.</p>
                    </div>
                </div>
                <hr>
            </div>
            <footer th:replace="fragments/footer :: footer"> </footer>
        </main>
	
	</div>
    




</body>

</html>