/*Estilos para el header*/
.header_principal {
	padding: 2.5% 2.5% 2.5% 2.5%;
}

#titulo_header {
	text-align: center;
	color: white;
}

#titulo_header h2 {
	font-size: 2.5vw;
}

#titulo_header h3 {
	font-size: 2vw;
}

/* Smartphones (portrait & landscape) 
#Dispositivo = Mayor�a de tel�fonos m�viles (vertical y horizontal) 
#Resoluci�n = B/w 320px to 479px */
@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) {
	html, body {
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		width: 100%;
		font-size: 100%;
		font-family: "Comic Sans MS";
	}
	#titulo_header h2 {
		font-size: 5.5vw;
	}
	#titulo_header h3 {
		font-size: 5vw;
	}
	#imagen_header {
		width: 200%;
	}
}

/* #Dispositivo = Tablets de baja resoluci�n y tel�fonos M�viles (horizontal) 
#Resoluci�n = B/w 481px to 767px */
@media ( min-width : 481px) and (max-width: 767px) {
	#titulo_header h2 {
		font-size: 3.5vw;
	}
	#titulo_header h3 {
		font-size: 3vw;
	}
	#imagen_header {
		width: 200%;
	}
}