/*--
Author: Techloxa
Author URL: 
License: Techloxa 1.0
License URL: 
--*/
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 100%;
	font-family: "Comic Sans MS";
}

.modal.show  {
  display:flex!important;
  flex-direction:column;
  justify-content:center;
  align-content:center;
}

.nav_log{
  padding: 0.2% 0.2%;
  background-color: #003F72;
  width: 100%;
}
#logo{
	float:left;
	width: 35%;
}
#imgEscudo{
	width: auto;
	margin-left: 5%;
}
#titulo{
  float:right;
  width: 50%;
  font-size: 40vm;
  text-align:right;
  padding: 10px 10px;
  color: white; 
}


footer{
	color:white;
	background-color: #003F72;
}
