/*--
Author: Techloxa
Author URL: 
License: Techloxa 1.0
License URL: 
--*/
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 100%;
	font-family: "Comic Sans MS";
}

.modal.show  {
  display:flex!important;
  flex-direction:column;
  justify-content:center;
  align-content:center;
}