

#principal-navaccess{
	font-size: 2vw;
}
.principal-tipo {
	padding: 2% 2% 2% 2%;
}
.principal-card-p{
	
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5% 5% 5% 5%;
  border-radius: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 10px 16px 16px 0 rgba(0,0,0,0.2);
}

/* Smartphones (portrait & landscape) 
#Dispositivo = Mayoría de teléfonos móviles (vertical y horizontal) 
#Resolución = B/w 320px to 479px */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	
	#principal-tipos-preguntas{
	
		
	}
	.principal-row{
	
		
		
	}
}